body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.calculator {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
}

.equality {
    float: right;
}

.numbers {
    float: left;
}

.screen {
    text-align: end;
    padding: 5px;
    height: 50px;
}

button {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

#equal {
    height: 200px;
}

.numbers button {
    background-color: darkslategray;
    color: white;
}

.functions button {
    background-color: gray;
    color: white;
}

.equality button {
    background-color: orangered;
    color: white;
}