body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.calculator {
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    padding: 5px;
}

.equality {
    float: right;
}

.numbers {
    float: left;
}

.screen {
    text-align: end;
    padding: 5px;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

#equal {
    height: 200px;
}